acos-client>=2.1.0		#
octavia>=4.1.1,<5.0.0.0rc1	# stein version of octavia
octavia-lib			#
keystone>=15.0.1,<16.0.0
python-barbicanclient>=4.5.2 	# copied from octavia requirements.txt
python-glanceclient>=2.8.0 	# Apache-2.0
python-novaclient>=9.1.0 	# Apache-2.0
pyOpenSSL>=17.1.0 		# Apache-2.0

taskflow>=2.16.0		# copied from octavia requirements.txt
tenacity>=4.9.0 		# copied from octavia requirements.txt
